/* Add your styles here */

.navbar-brand{
    background-color: #0cb6be;
    color: white!important;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    padding-left: 0.5rem;
    padding-right: .5rem;
    margin-left: 2rem
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}


h2{
   color:  black;
}

footer{
    background-color: grey;
    border-top-color: #0cb6be!important;
    border-top-width: 10rem!important;
}

.text-muted{
  color: white!important;
}

.card{
  margin: 3% 3% 3% 3%;
  padding: 1% 3% 3% 3%;
  border-color: #0cb6be;
  border-width: 1%;
}

#outer_card{
  padding-top: 1%;
  border-color: #0cb6be;
  border-width: 1%;
}

body{
  background-color: lightgrey;
}

#two-cards{
  background-color: lightgrey;
}
